---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Image from "@components/ui/images/Image.astro";
import { SITE } from "@/config";
import "@fancyapps/ui/dist/fancybox/fancybox.css";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

const post = Astro.props;
const { Content } = await post.render();

const URL = Astro.url.href;
const ogImage = post.data.ogImage;
---

<BaseLayout
    title={post.data.title}
    description={post.data.description}
    ogImage={ogImage}
    structuredData={{
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "@id": URL,
        url: URL,
        description: post.data.description,
        image: [
            // post.data.banner,
        ],
        headline: post.data.title,
        datePublished: post.data.pubDate,
        dateModified: post.data.pubDate,
        author: [
            {
                "@type": "Person",
                name: SITE.author,
                url: SITE.url,
            },
        ],
    }}
>
    <section class="mx-auto max-w-6xl px-4 pb-12 pt-8 sm:px-6 lg:px-8 lg:pt-12">
        <div class="shadow-none sm:shadow-sm mt-4 sm:mt-0">
            <div class="max-w-6xl">
                <Image
                    class="w-full object-cover rounded-tl-sm rounded-tr-sm"
                    src={post.data.banner}
                    alt={post.data.title}
                    draggable="false"
                    format="avif"
                    loading="lazy"
                    inferSize={true}
                />
            </div>
            <div
                class="sm:dark:bg-neutral-900/30 sm:bg-neutral-100 px-0 sm:px-6 md:px-10 lg:px-14 py-6"
            >
                <div class="mb-10">
                    <h2
                        class="block text-balance text-3xl font-bold text-center mx-auto text-[#274e86] dark:text-neutral-300 md:text-4xl lg:text-5xl"
                    >
                        {post.data.title}
                    </h2>
                </div>

                <div class="flex items-center justify-center mb-10">
                    <p
                        class="text-center text-xl text-neutral-700 dark:text-neutral-300"
                    >
                        {post.data.description}
                    </p>
                </div>

                <article
                    class="prose prose-blog sm:prose-lg dark:prose-invert max-w-none content"
                >
                    <div
                        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
                    >
                        <Content />
                    </div>
                </article>
            </div>
        </div>
    </section>
    <style is:inline>
        html.dark .astro-code,
        html.dark .astro-code span {
            color: var(--shiki-dark) !important;
            background-color: var(--shiki-dark-bg) !important;
        }
        .prose img {
            margin: 0 !important;
        }
        .prose p {
            margin: 0;
        }
        .thumbnail {
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        .thumbnail:hover {
            transform: scale(1.05);
        }
    </style>
</BaseLayout>

<script>
    import { Fancybox } from "@fancyapps/ui";

    function initializeFancybox() {
        Fancybox.bind("[data-fancybox]", {});
    }

    function addFancyboxAttributes() {
        const contentElement = document.querySelector(".content");
        if (contentElement) {
            const images = contentElement.querySelectorAll("img");
            images.forEach((img) => {
                img.setAttribute("data-fancybox", "gallery");
                img.classList.add("thumbnail");
            });
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        addFancyboxAttributes();
        initializeFancybox();
    });
</script>
